body,
html {
  width: 100%;
  height: 100%;
  background: #17191f;
  color: #fff;
}

a, a:hover {
  color: #4ea2df;
}

.invisible {
  display: none;
}

.avatar_img_navbar {
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.header_avatar_dropdown {
  padding: 0;
  padding-left: .5rem;
}

.footer {
  text-align: center;
  padding-top: 20px;
}

.top_lists {
  width: 100%;
  padding: 10px 0;
  background: #333;
}

.top_lists .no {
  text-align: center;
  color: #606984;
  margin: 50px 0;
}