html[data-page='live'] {
  body {
    overflow: hidden;
  }

  .main {
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 65px;
  }

  #comment {
    height: 100%;
  }

  #comments {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 155px);
    margin: 10px -8px 0 0;
  }

  .have_donation #comments {
    margin-top: 0;
  }

  .disable_reverse#comments {
    flex-direction: column;
  }

  .hashtag {
    display: none;
  }

  .side-buttons,
  .side-buttons:hover {
    color: #17a2b8;
    text-decoration: none;
  }

  .modal-title {
    color: #212529;
  }

  .share_buttons button {
    margin: 3px;
    padding: 0.375rem 0.1rem;
  }

  #live-name {
    font-weight: 600;
    margin-top: 10px;
  }

  .live_edit {
    margin: 10px 0;
  }

  .is_wide {
    overflow: hidden;
  }

  .is_wide .wide_hide {
    display: none;
  }

  .is_wide #mainiframe {
    width: 100%;
    position: fixed;
  }

  .is_wide #comment {
    position: fixed;
    right: 0;
    top: 0;
    height: calc(100% - 35px);
    background: rgba(0, 0, 0, 0.3);
  }

  .is_wide #comments {
    height: calc(100% - 250px);
  }

  .is_wide .comment_box {
    position: fixed;
    bottom: 50px;
    right: 0;
    z-index: 10;

    @include media(lg, max) {
      left: 0;
      bottom: 80px;
    }
  }

  .admin_panel {
    color: #000;
  }

  .comment {
    display: block;
    background-color: #393f4f;
    position: relative;
    animation: comment_animation 0.75s cubic-bezier(0.6, -0.2, 0.7, 0.05)
      reverse;
  }

  .disable_reverse .comment {
    animation: disable_reverse_comment 0.75s cubic-bezier(0.6, -0.2, 0.7, 0.05)
      reverse;
  }

  .comment .avatar {
    width: 50px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
  }

  .comment .content {
    padding-left: 5px;
    display: flex;
  }

  .comment .name {
    cursor: pointer;
    font-size: 1em;
    display: block;
  }

  .postcontent {
    word-wrap: break-word;
    word-break: break-all;
  }

  .postcontent p {
    display: inline;
    padding-right: 5px;
  }

  .postcontent .alert {
    margin-bottom: 0;
  }

  .content .float-left {
    padding-top: 0.25rem;
  }

  .content .float-right {
    width: calc(100% - 50px);
    padding: 0.25rem;
  }

  .comment .card-body {
    padding: 0.25rem;
  }

  .admin-toggle.on > span.off,
  .admin-toggle.off > span.on {
    display: none;
  }

  #donators {
    overflow-x: scroll;
    white-space: nowrap;
    height: 45px;
  }

  .donator {
    cursor: pointer;
    vertical-align: -4px;
  }

  .custom-control-label::after {
    top: 0.4rem;
  }

  .custom-control-label::before {
    margin-top: 0.1rem;
  }

  .box-sizing {
    margin: 0;
    cursor: pointer;
  }

  .comment-option {
    height: 38px;
  }

  .comment-option .custom-control {
    position: absolute;
    margin: 6px 0;
  }

  .comment-btn {
    position: absolute;
    width: 90px;
    right: 15px;
  }

  .comment_block .form-group {
    margin-bottom: 0;
  }

  .comment-form {
    position: relative;
    bottom: 30px;
  }

  .emoji.picker {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 5px;
  }

  #listener_list td,
  #collabo_list td {
    color: $black;
  }

  #toot {
    border-radius: 0 0 0 0.25em;
  }

  .alerts {
    margin-top: 10px;
  }

  .popover,
  .popover-body {
    color: #000 !important;
  }

  .embeds_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      flex-basis: 50%;

      @include media(lg, max) {
        flex-basis: 100%;
      }
    }

    div:only-of-type {
      flex-basis: 100%;
    }
  }
}
