html {
  width: 100%;
  height: 100%;
}

.invisible {
  display: none;
}

.avatar_img_navbar {
  width: 40px;
  height: 40px;
  background-color: #fff;
}

.header_avatar_dropdown {
  padding: 0;
}

.footer {
  background: #000;
  font-size: smaller;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 3px 0;
  }
}

.nav-container {
  margin: 10px auto;
}

.navbar {
  height: 56px;
}

.header-brand,
.header-toggler {
  padding-left: 0;
  padding-right: 0;
}

.header-toggler {
  flex: 0;
}

.header-toggler-btn {
  padding: 7px 20px;
}

.header-items {
  margin-left: 1em;
}

.box {
  margin-top: 20px;
}

.button-player {
  border-radius: 0 0 0.2rem 0.2rem;
}

.modal {
  color: #212529;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(52, 58, 64, 0.7);
  border-radius: 5px;
}

.emoji {
  width: 20px;
  height: 20px;
  margin: -3px 0 0;
}

.donator_name.badge {
  font-size: 1rem;
  padding: 0.1em 0.4em;
}

.text_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_wrap {
  overflow: hidden;
  overflow-wrap: break-word;
}
