#item_layer,
#comment_layer {
  position: absolute;
  width: 100%;
  height: calc(100% - 35px);
  opacity: 0.8;
}

.item_emoji {
  position: absolute;

  img {
    width: 50px;
  }

  &.random {
    animation: 0.3s show;
  }
}

.spin img {
  animation: spin 1s linear infinite;
}

.bottom-to-top > img,
.top-to-bottom > img {
  display: block;
}

.item_emoji.big img {
  width: 100px;
}

#comment_layer div {
  position: absolute;
  white-space: nowrap;
  font-size: 200%;

  p {
    display: inline;
    padding-right: 5px;
    margin: 0 auto;
    text-shadow: black 2px 0, black -2px 0, black 0 -2px, black 0 2px,
      black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px,
      black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px,
      black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
  }

  .hashtag,
  div {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.left-to-right {
  left: -100%;
  animation: left-to-right 5s linear;
}

@keyframes left-to-right {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
    right: -100%;
  }
}

.right-to-left {
  right: -100%;
  animation: right-to-left 5s linear;
}

@keyframes right-to-left {
  0% {
    right: -100%;
    left: 100%;
  }

  100% {
    left: -100%;
    right: 100%;
  }
}

.bottom-to-top {
  bottom: -100%;
  animation: bottom-to-top 5s linear;
}

@keyframes bottom-to-top {
  0% {
    bottom: -100%;
    top: 100%;
  }

  100% {
    bottom: 100%;
    top: -100%;
  }
}

.top-to-bottom {
  top: -100%;
  animation: top-to-bottom 5s linear;
}

@keyframes top-to-bottom {
  0% {
    top: -100%;
    bottom: 100%;
  }

  100% {
    top: 100%;
    bottom: -100%;
  }
}
